* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #e7e7e7;
}

.card{
  margin: 20px 0px;
}

.header{
  margin-bottom: 40px;
}

.header-title{
  margin-left: 10px;
}

.form{
  min-width: 380px;
}

.form-item{
  margin-bottom: 10px;
}

.submit-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.image-output{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 380px;
}

.image-output > img{
  position: relative !important;
  width: 100%;
}

.divider{
  margin: 15px 0;
  margin-top: 25px;
}

.footer{
  display: flex;
  justify-content: space-around;
  font-size: medium;
}

.footer a > .anticon{
  margin-right: 5px;
}


@media only screen and (max-width: 500px) {
  .card{
    margin: 0px;
  }
  .card > div{
    padding: 15px !important;
  }
  .main-body > div{
    width: 100%;
  }
  .header{
    font-size: small;
  }
  .header-title{
    font-size: x-large;
    line-height: 85%;
    margin: 10px 0px;
  }
  .form{
    min-width: unset !important;
    width: 100%;
  }
  .image-output{
    min-width: unset !important;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .ant-form-item-label{
    padding: 0px !important;
  }
}

@media only screen and (max-width: 850px) {
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}